* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.parallax-window {
  min-height: 820px;
  background: transparent;
}

.navbar .logo {
  text-decoration: none;
  margin: 20px 40px 40px;
  color: white;
  font-size: 18px;
  font-family: 'Inter' ,sans-serif;
}

.navbar .logo:hover {
  color: grey;
}

.navbar .nav {
  margin: 0px 20px 0px;
}

.navbar .nav-item {
  margin: 20px 20px 40px;
}

.navbar .nav-item .nav-link {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-size: 18px;
  padding: 5px;
}

.navbar .nav-item .nav-link:hover {
  color: grey;
}

.firstimage h1 {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 57px;
  margin: 170px 0px 45px;
}

.firstimage h2 {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  margin: 270px auto 45px;
  width: 50%;
}

.firstimage p {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}

.firstimage .button-skyhour {
  width: 200px;
  margin: auto;
}

.firstimage button {
  background-color: transparent;
  font-family: 'Inter' ,sans-serif;
  font-size: 12px;
  border: 2px solid white;
  color: white;
  letter-spacing: 2px;
  padding: 10px 10px 10px;
}

.firstimage button:hover {
  background-color: white;
  color: black;
}

.secondimage h1 {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 57px;
  margin: 280px 0px 45px;
}

.secondimage p {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}

.secondimage .button-skyhour {
  width: 200px;
  margin: auto;
}

.secondimage button {
  background-color: transparent;
  font-family: 'Inter' ,sans-serif;
  font-size: 12px;
  border: 2px solid white;
  color: white;
  letter-spacing: 2px;
  padding: 10px 10px 10px;
}

.secondimage button:hover {
  background-color: white;
  color: black;
}

.thirdimage h1 {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 57px;
  margin: 280px 0px 45px;
}

.thirdimage p {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}

.thirdimage .button-skyhour {
  width: 200px;
  margin: auto;
}

.thirdimage button {
  background-color: transparent;
  font-family: 'Inter' ,sans-serif;
  font-size: 12px;
  border: 2px solid white;
  color: white;
  letter-spacing: 2px;
  padding: 10px 10px 10px;
}

.thirdimage button:hover {
  background-color: white;
  color: black;
}

.fourthimage h1 {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 57px;
  margin: 280px 0px 45px;
}

.fourthimage p {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}

.fourthimage .button-skyhour {
  width: 200px;
  margin: auto;
}

.fourthimage button {
  background-color: transparent;
  font-family: 'Inter' ,sans-serif;
  font-size: 12px;
  border: 2px solid white;
  color: white;
  letter-spacing: 2px;
  padding: 10px 10px 10px;
}

.fourthimage button:hover {
  background-color: white;
  color: black;
}

.fifthimage h1 {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 57px;
  margin: 280px 0px 45px;
}

.fifthimage p {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}

.fifthimage .button-skyhour {
  width: 200px;
  margin: auto;
}

.fifthimage button {
  background-color: transparent;
  font-family: 'Inter' ,sans-serif;
  font-size: 12px;
  border: 2px solid white;
  color: white;
  letter-spacing: 2px;
  padding: 10px 10px 10px;
}

.fifthimage button:hover {
  background-color: white;
  color: black;
}

.sixthimage h1 {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 57px;
  margin: 280px 0px 45px;
}

.sixthimage p {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}

.sixthimage .button-skyhour {
  width: 200px;
  margin: auto;
}

.sixthimage button {
  background-color: transparent;
  font-family: 'Inter' ,sans-serif;
  font-size: 12px;
  border: 2px solid white;
  color: white;
  letter-spacing: 2px;
  padding: 10px 10px 10px;
}

.sixthimage button:hover {
  background-color: white;
  color: black;
}

.seventhimage h1 {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 57px;
  margin: 280px 0px 45px;
}

.seventhimage p {
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-size: 14px;
  text-align: center;
  margin-bottom: 60px;
}

.seventhimage .button-skyhour {
  width: 200px;
  margin: auto;
}

.seventhimage button {
  background-color: transparent;
  font-family: 'Inter' ,sans-serif;
  font-size: 12px;
  border: 2px solid white;
  color: white;
  letter-spacing: 2px;
  padding: 10px 10px 10px;
}

.seventhimage button:hover {
  background-color: white;
  color: black;
}

.text {
  background-color: #eeecec;
  width: 100%;
  height: 65vh;
  text-align: center;
  padding-top: 170px;
}

.text p {
  margin: 30px auto 45px;
  color: grey;
  font-family: 'Inter' ,sans-serif;
  font-size: 18px;
  width: 49%;
  line-height: 30px;
}

.text h6 {
  color: grey;
  font-family: 'Inter' ,sans-serif;
  font-size: 14px;
  margin-bottom: 40px;
}

.text button {
  background-color: transparent;
  font-family: 'Inter' ,sans-serif;
  font-size: 12px;
  border: 2px solid grey;
  color: grey;
  letter-spacing: 2px;
  padding: 10px 30px 10px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.text button:hover {
  background-color: grey;
  border: 2px solid grey;
  color: white;
}

.text-page2 {
  background-color: #eeecec;
  width: 100%;
  height: 90vh;
  text-align: center;
  padding-top: 160px;
}

.text-page2 img {
  width: 30%;
}

.text-page2 p {
  margin: 30px auto 55px;
  color: grey;
  font-family: 'Inter' ,sans-serif;
  font-size: 18px;
  width: 49%;
  line-height: 30px;
}

.text-page2 button {
  background-color: transparent;
  font-family: 'Inter' ,sans-serif;
  font-size: 12px;
  border: 2px solid grey;
  color: grey;
  letter-spacing: 2px;
  padding: 10px 30px 10px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
}

.text-page2 button:hover {
  background-color: grey;
  border: 2px solid grey;
  color: white;
}

.secondimage-page2 {
  width: 100%;
  height: 97vh;
  text-align: center;
  padding-top: 250px;
}

.secondimage-page2 img {
  width: 32%;
  margin: auto;
}

.secondimage-page2 p {
  margin: 30px auto 55px;
  color: white;
  font-family: 'Inter' ,sans-serif;
  font-size: 18px;
  width: 49%;
  line-height: 30px;
}

.secondimage-page2 button {
  background-color: transparent;
  font-family: 'Inter' ,sans-serif;
  font-size: 12px;
  border: 2px solid white;
  color: white;
  letter-spacing: 2px;
  padding: 10px 10px 10px;
  -webkit-transition: all .1s linear;
  transition: all .1s linear;
  width: 500px;
  margin: auto;
}

.secondimage-page2 button:hover {
  background-color: white;
  border: 2px solid white;
  color: black;
}

#table {
  max-width: 100%;
  overflow: hidden;
}

#table img {
  width: 100%;
  height: 100%;
}

#table .col-md-6 {
  padding: 0;
  margin: 0;
}

footer {
  background-color: #2b2b2b;
  height: 47vh;
  color: grey;
  text-align: center;
  padding-top: 170px;
  font-family: 'Inter' ,sans-serif;
  font-size: 17px;
}

footer a {
  text-decoration: none;
}

footer a img {
  margin: 20px 40px 0px;
}

@media (max-width: 1800px) {
  .firstimage .button-skyhour {
    width: 200px;
  }
  .firstimage button {
    padding: 10px 10px 10px;
  }
  .secondimage .button-skyhour {
    width: 200px;
  }
  .secondimage button {
    padding: 10px 10px 10px;
  }
  .thirdimage .button-skyhour {
    width: 200px;
  }
  .thirdimage button {
    padding: 10px 10px 10px;
  }
  .fourthimage .button-skyhour {
    width: 200px;
  }
  .fourthimage button {
    padding: 10px 10px 10px;
  }
  .fifthimage .button-skyhour {
    width: 200px;
  }
  .fifthimage button {
    padding: 10px 10px 10px;
  }
  .sixthimage .button-skyhour {
    width: 200px;
  }
  .sixthimage button {
    padding: 10px 10px 10px;
  }
  .seventhimage .button-skyhour {
    width: 200px;
  }
  .seventhimage button {
    padding: 10px 10px 10px;
  }
  .text {
    padding-top: 100px;
  }
  footer {
    height: 47vh;
    color: grey;
    text-align: center;
    padding-top: 150px;
    font-family: 'Inter' ,sans-serif;
    font-size: 17px;
  }
  footer a {
    text-decoration: none;
  }
  footer a img {
    margin: 20px 40px 0px;
  }
}

@media (max-width: 1023px) and (min-width: 768px) {
  .firstimage .button-skyhour {
    width: 200px;
  }
  .firstimage button {
    padding: 10px 10px 10px;
  }
  .secondimage .button-skyhour {
    width: 200px;
  }
  .secondimage button {
    padding: 10px 10px 10px;
  }
  .thirdimage .button-skyhour {
    width: 200px;
  }
  .thirdimage button {
    padding: 10px 10px 10px;
  }
  .fourthimage .button-skyhour {
    width: 200px;
  }
  .fourthimage button {
    padding: 10px 10px 10px;
  }
  .fifthimage .button-skyhour {
    width: 200px;
  }
  .fifthimage button {
    padding: 10px 10px 10px;
  }
  .sixthimage .button-skyhour {
    width: 200px;
  }
  .sixthimage button {
    padding: 10px 10px 10px;
  }
  .seventhimage .button-skyhour {
    width: 200px;
  }
  .seventhimage button {
    padding: 10px 10px 10px;
  }
  .text {
    width: 100%;
    height: 65vh;
    padding-top: 8%;
  }
  .text p {
    margin: 30px auto 45px;
    color: grey;
    font-family: 'Inter' ,sans-serif;
    font-size: 18px;
    width: 49%;
    line-height: 30px;
  }
  .text h6 {
    color: grey;
    font-family: 'Inter' ,sans-serif;
    font-size: 14px;
    margin-bottom: 40px;
  }
  .text button {
    background-color: transparent;
    font-family: 'Inter' ,sans-serif;
    font-size: 12px;
    border: 2px solid grey;
    color: grey;
    letter-spacing: 2px;
    padding: 10px 30px 10px;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  .text button:hover {
    background-color: grey;
    border: 2px solid grey;
    color: white;
  }
  footer {
    background-color: #2b2b2b;
    height: 47vh;
    color: grey;
    text-align: center;
    padding-top: 150px;
    font-family: 'Inter' ,sans-serif;
    font-size: 17px;
  }
  footer a {
    text-decoration: none;
  }
  footer a img {
    margin: 20px 40px 0px;
  }
}

@media (max-width: 767px) and (min-width: 320px) {
  .text {
    padding-top: 50px;
  }
  .navbar .logo {
    margin: 20px 40px 40px;
    font-size: 12px;
  }
  .navbar .logo:hover {
    color: grey;
  }
  .navbar .nav {
    margin: 0px 20px 0px;
  }
  .navbar .nav-item {
    margin: 20px 20px 40px;
  }
  .navbar .nav-item .nav-link {
    color: white;
    font-family: 'Inter' ,sans-serif;
    font-size: 12px;
    padding: 5px;
  }
  .firstimage h1 {
    font-size: 30px;
    margin: 220px 0px 30px;
  }
  .firstimage p {
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0px 20px 0px;
  }
  .firstimage .button-skyhour {
    width: 150px;
  }
  .firstimage button {
    font-size: 10px;
    border: 2px solid white;
    color: white;
    padding: 8px 10px 8px;
  }
  .secondimage h1 {
    font-size: 30px;
    margin: 300px 0px 30px;
  }
  .secondimage p {
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0px 20px 0px;
  }
  .secondimage .button-skyhour {
    width: 150px;
  }
  .secondimage button {
    font-size: 10px;
    border: 2px solid white;
    color: white;
    padding: 8px 10px 8px;
  }
  .thirdimage h1 {
    font-size: 30px;
    margin: 320px 0px 30px;
  }
  .thirdimage p {
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0px 20px 0px;
  }
  .thirdimage .button-skyhour {
    width: 150px;
  }
  .thirdimage button {
    font-size: 10px;
    border: 2px solid white;
    color: white;
    padding: 8px 10px 8px;
  }
  .fourthimage h1 {
    font-size: 30px;
    margin: 300px 0px 30px;
  }
  .fourthimage p {
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0px 20px 0px;
  }
  .fourthimage .button-skyhour {
    width: 150px;
  }
  .fourthimage button {
    font-size: 10px;
    border: 2px solid white;
    color: white;
    padding: 8px 10px 8px;
  }
  .fifthimage h1 {
    font-size: 30px;
    margin: 320px 0px 30px;
  }
  .fifthimage p {
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0px 30px 0px;
  }
  .fifthimage .button-skyhour {
    width: 150px;
  }
  .fifthimage button {
    font-size: 10px;
    border: 2px solid white;
    color: white;
    padding: 8px 10px 8px;
  }
  .sixthimage h1 {
    font-size: 30px;
    margin: 300px 0px 30px;
  }
  .sixthimage p {
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0px 30px 0px;
  }
  .sixthimage .button-skyhour {
    width: 150px;
  }
  .sixthimage button {
    font-size: 10px;
    border: 2px solid white;
    color: white;
    padding: 8px 10px 8px;
  }
  .seventhimage h1 {
    font-size: 30px;
    margin: 300px 0px 30px;
  }
  .seventhimage p {
    font-size: 14px;
    margin-bottom: 30px;
    padding: 0px 30px 0px;
  }
  .seventhimage .button-skyhour {
    width: 150px;
  }
  .seventhimage button {
    font-size: 10px;
    border: 2px solid white;
    color: white;
    padding: 8px 10px 8px;
  }
  .text {
    width: 100%;
    height: 65vh;
    padding-top: 22%;
    padding-left: 20px;
    padding-right: 20px;
  }
  .text p {
    margin: 20px auto 45px;
    font-size: 12px;
    width: 90%;
    line-height: 25px;
  }
  .text h6 {
    font-size: 10px;
    margin-bottom: 40px;
  }
  .text button {
    font-size: 10px;
    border: 2px solid grey;
    color: grey;
    letter-spacing: 1px;
    padding: 7px 10px 7px;
  }
  footer {
    background-color: #2b2b2b;
    height: 47vh;
    color: grey;
    text-align: center;
    padding-top: 150px;
    font-family: 'Inter' ,sans-serif;
    font-size: 17px;
  }
  footer a {
    text-decoration: none;
  }
  footer a img {
    margin: 20px 40px 0px;
  }
}

@media (max-width: 372px) {
  footer {
    background-color: #2b2b2b;
    height: 47vh;
    color: grey;
    text-align: center;
    padding-top: 80px;
    font-family: 'Inter' ,sans-serif;
    font-size: 14px;
  }
  footer a {
    text-decoration: none;
  }
  footer a img {
    margin: 20px 40px 0px;
  }
}

@media (max-width: 439px) {
  .navbar .logo {
    text-decoration: none;
    margin: 20px 20px 40px;
    color: white;
    font-size: 12px;
    font-family: 'Inter' ,sans-serif;
  }
  .navbar .logo:hover {
    color: grey;
  }
  .navbar .nav {
    margin: 0px 20px 0px;
  }
  .navbar .nav-item {
    margin: 10px 5px 35px;
  }
  .navbar .nav-item .nav-link {
    color: white;
    font-family: 'Inter' ,sans-serif;
    font-size: 12px;
    padding: 0px;
  }
}
/*# sourceMappingURL=style.css.map */